complex_types/complexTypes.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="restrictedTitle">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthorType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StockType">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute name="unit" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    
    <xs:complexType name="BookType">
        <xs:sequence>
            <xs:element name="title">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="restrictedTitle">
                            <xs:attribute name="language" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:choice>
                <xs:element name="inStock" type="xs:boolean" default="true"/>
                <xs:element name="outOfStock" type="xs:boolean" default="true"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="price" type="xs:decimal"/>
                <xs:element name="lastSale" type="xs:dateTime"/>
            </xs:choice>
            
            <xs:element name="stock" type="StockType" />
            <xs:element name="currency">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="USD"/>
                        <xs:enumeration value="EUR"/>
                        <xs:enumeration value="CZK"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="author" type="AuthorType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="bookstore">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location" type="xs:string"/>
                <xs:element name="openFrom" type="xs:date"/>
                <xs:element name="books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="book" type="BookType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
